{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<div class="head">
<span>BTC now: {{ btc_price }} USD</span>
<span>{% now "d.m.Y" %}</span>
<span><b>{{ user }} -
    {% if request.user.is_authenticated %}
      <a href="{% url "logout" %}">Logout</a>
    {% else %}
      <a href="{% url "login" %}">Login</a>
    {% endif %}</b></span>
</div>
    <h1>To do list</h1>
    {% block body %}
    {% endblock body %}
    {% block form %}
    {% endblock form %}
<div>
    <b>Do you want contribute? link on <a href="https://github.com/honzikhk/todo_list.git">Github</a></b>
</div>
</html>