{% include "base/base.html" %}

{% block body %}
  <a href="{% url "tasks" %}">Homepage</a>
    <h3>CATEGORY:</h3>

    <h4>Family ({{ family.count }})</h4>
    {% for task in family %}
    <p>{{ task.description  }}</p>
    {% endfor %}

   <h4>Work ({{ work.count }})</h4>
    {% for task in work %}
    <p>{{ task.description  }}</p>
    {% endfor %}

    <h4>Garden ({{ garden.count }})</h4>
    {% for task in garden %}
    <p>{{ task.description  }}</p>
    {% endfor %}

    <h4>Household ({{ household.count }})</h4>
    {% for task in household %}
    <p>{{ task.description  }}</p>
    {% endfor %}

    <h4>Other ({{ other.count }})</h4>
    {% for task in other %}
    <p>{{ task.description  }}</p>
    {% endfor %}
{% endblock body %}