{% extends "base/base.html" %}

{% block form %}
    <h3>hello, {{ user }}</h3>
    <div>
    {% if request.user.is_authenticated %}
        <a href="{% url "logout" %}">Logout</a>
    {% else %}
        <a href="{% url "login" %}">Login</a>
    {% endif %}
    </div>
  <a href="{% url 'categories' %}">Categories</a><br><br>
  <h4>CREATE A NEW TASK</h4>
  <div>
    <form action="{% url "tasks" %}" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>
    <br><br>
  </div>

  {#    <table>#}
  {% for task in all_tasks %}
    <div>
      {% if task.completed %}
        <div class="line">
          <i><s><span>:) {{ task.name|slice:":25" }} - To do: {{ task.to_do|date:'d.m Y' }} - Dead line: {{ task.dead_line|date:'d.m Y' }} - {{ task.category }} - {{ task.priority }}</span></s></i>
        </div>
      {% else %}
        <div class="line">
          <span>* {{ task.name|slice:":25" }} - To do: {{ task.to_do|date:'d.m Y' }} - Dead line: {{ task.dead_line|date:'d.m Y' }} - {{ task.category }} - {{ task.priority }}</span>
        </div>
      {% endif %}
      {% if task.completed == False %}
        <div class="line">
          <form action="{% url "task_done" task.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="finished">
          </form>
        </div>

      {% else %}
        <div class="line">
          <form action="{% url "task_done" task.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="unfinished">
          </form>
        </div>
      {% endif %}
      <a href="{% url "delete_task" task.id %}">delete</a>
    </div>
  {% endfor %}
  {#    </table>#}

{% endblock form %}