{% extends "base/base.html" %}

{% block form %}
  <a href="{% url 'categories' %}">Categories</a><br><br>
  <h4>CREATE A NEW TASK</h4>
  <div>
    <form action="{% url "tasks" %}" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>
    <br><br>
  </div>

    {% for task in all_tasks %}
        <div>
        {% if task.completed %}
        <div class="line">
            <i><s><span>{{ task.name|slice:":25" }} - {{ task.priority }} - {{ task.dead_line }} - {{ task.category }}</span></s></i>
        </div>
            {% else %}
            <div class="line">
            <span>{{ task.name|slice:":25" }} - {{ task.priority }} - To do by {{ task.dead_line }} - {{ task.category }}</span>
            </div>
        {% endif %}
            {% if task.completed == False %}
                <div class="line">
                <form action="{% url "task_done" task.id %}" method="post">
                                {% csrf_token %}
                    <input type="submit" value="finished">
                </form>
                </div>

            {% else %}
                <div class="line">
                <form action="{% url "task_done" task.id %}" method="post">
                                {% csrf_token %}
                    <input type="submit" value="unfinished">
                </form>
                </div>
            {% endif %}
        </div>
    {% endfor %}


{% endblock form %}